@import "index.module.scss";
@include media(">phone", "<tablet") {
  header {
    .logo {
      width: 160px;
      margin: 10px;
    }
  }
}

@include media(">tablet", "<=desktop") {
  header {
    padding-left: 10%;
    .logo {
      width: 160px;
      margin: 10px;
    }
  }
}

@include media(">desktop") {
  header {
    padding-left: 21%;
    .logo {
      width: 160px;
      margin: 10px;
    }
  }
}
